<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lty.mapper.UserMapper">
<insert id="saveProvince">
    <selectKey keyProperty="id" order="AFTER" resultType="int">
        select LAST_INSERT_ID()
    </selectKey>
    insert  into  provence (provence_name)values (#{provenceName})
</insert>

    <insert id="saveCity">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
      insert  into  city (provence_id,city_name)values (#{provenceId},#{cityName})
    </insert>
    <insert id="saveArea">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
     insert   into  area(city_id,area_name) values(#{cityId},#{areaName})
    </insert>
</mapper>